@import "/styles/variables.scss";

.container {
  margin: 5vh 30vw;
  padding: 5vh 5vw;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 5px;

  .addChild {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: $secondary;
    border: 2px solid $secondary;

    &:hover {
      background-color: $secondary;
      color: white;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $tertiary;
    margin: -5vh -5vw 5vh -5vw;
    padding: 20px 5vw;
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  @media screen and (max-width: $screen-l) {
    margin: 5vh 10vw;
  }
}

.cfiContainer {
  position: relative;
  .childNumber {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .removeButton {
    position: absolute;
    top: 0;
    right: 0;
  }
}
