@import "/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  .nextButton {
    margin: 0 20vw;
  }
}

.slider {
  margin-top: -86px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/slide/img2.jpg");
  background-position: top;
  background-size: cover;
}

.formContainer {
  margin: 5vh 5vw;
  padding: 5vh 5vw;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 5px;

  .progress {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  form {
    margin: 20px 0;
  }
}
