.container {
  display: flex;
}

.slider {
  margin-top: -86px;
  position: relative;
  height: 500px;

  img {
    height: 100%;
    width: fit-content;
    object-fit: cover;
    object-position: right bottom;
  }

  .content {
    padding-top: 86px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.form {
  margin: 0 10vw;
}
