@import "/styles/variables.scss";

.container {
  margin: 5vh 30vw;
  padding: 5vh 5vw;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 5px;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $tertiary;
    margin: -5vh -5vw 5vh -5vw;
    padding: 20px 5vw;
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
