
@import "/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
}

.slider {
  display: flex;
  background-image: url("../../../public/slide/img1.jpg");
  height: 500px;
  margin-top: -86px;
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba($quaternary, 0.3);
    color: white;
  }
}

.body {
  
}