@import "/styles/variables.scss";

.container {
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/slide/img1.jpg");
  height: 500px;
  margin-top: -86px;
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
    background-color: rgba($quaternary, 0.5);
    color: white;
  }
}

.body {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;
  margin: 5vh 20vw;

  .image {
    > img {
      width: 100%;
    }

    @media screen and (max-width: $screen-l) {
      > img {
        display: none;
      }
    }
  }

  @media screen and (max-width: $screen-s) {
    grid-template-columns: auto;
  }
}
