$primary: #74cfe4;
$primary-dark: #68bbcd;
$secondary: #edbe48;
$secondary-dark: #d5ab40;
$tertiary: #ec7849;
$tertiary-dark: #d46b41;
$quaternary: #6fc191;
$quaternary-dark: #63ad82;
$dark: #495052;

$screen-md: 600px;
